<h1>jsonbench index</h1>
<a href="{% url 'benchmark:index' %}?{{prof}}">&laquo; back to root</a>
<p>start here:</p>
<div class="pagination">
    <span class="step-links">
        {% if boards.has_previous %}
            <a href="?ipage={{boards.previous_page_number}}&amp;{{prof}}">previous</a>
        {% endif %}

        <span class="current">
            Page {{boards.number}} of {{boards.paginator.num_pages}}.
        </span>

        {% if boards.has_next %}
            <a href="?ipage={{boards.next_page_number}}&amp;{{prof}}">next</a>
        {% endif %}
    </span>
</div>
<ul>
{% for board in boards %}
    <li><a href="{% url 'jsonbench:view_board' board.id %}?ipage={{boards.number}}&amp;{{prof}}">{{board.name}}</a></li>
{% empty %}
    <li>No boards to display</li>
{% endfor %}
</ul>
<div class="pagination">
    <span class="step-links">
        {% if boards.has_previous %}
            <a href="?ipage={{boards.previous_page_number}}&amp;{{prof}}">previous</a>
        {% endif %}

        <span class="current">
            Page {{boards.number}} of {{boards.paginator.num_pages}}.
        </span>

        {% if boards.has_next %}
            <a href="?ipage={{boards.next_page_number}}&amp;{{prof}}">next</a>
        {% endif %}
    </span>
</div>
{% if prof %}<h1>profile</h1>{% endif %}
