<h1>m2mbench view_post</h1>
<p><a href="{% url 'admin:index' %}">go to django admin</a></p>
<p><a href="{% url 'm2mbench:index' %}?ipage={{ipage}}&amp;{{prof}}">&laquo; back to index page {{ipage}}</a></p>
<p style="margin-left:20px;"><a href="{% url 'm2mbench:view_board' board.id %}?ipage={{ipage}}&amp;bpage={{bpage}}&amp;{{prof}}">&laquo; back to {{board.name}} page {{bpage}}</a></p>
<p style="margin-left:40px;"><a href="{% url 'm2mbench:view_thread' board.id thread.id %}?ipage={{ipage}}&amp;bpage={{bpage}}&amp;tpage={{tpage}}&amp;{{prof}}">&laquo; back to {{thread.name}} page {{tpage}}</a></p>
<p>start here:</p>
<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="{% url 'm2mbench:view_post' board.id thread.id prev_post.id %}?ipage={{ipage}}&amp;bpage={{bpage}}&amp;tpage={{prev_post_tpage}}&amp;ppage={{posts.previous_page_number}}&amp;{{prof}}">previous</a>
        {% endif %}

        <span class="current">
            Post {{posts.number}} of {{posts.paginator.num_pages}}.
        </span>

        {% if posts.has_next %}
            <a href="{% url 'm2mbench:view_post' board.id thread.id next_post.id %}?ipage={{ipage}}&amp;bpage={{bpage}}&amp;tpage={{next_post_tpage}}&amp;ppage={{posts.next_page_number}}&amp;{{prof}}">next</a>
        {% endif %}
    </span>
</div>
<p>{{post}}</p>
<p>
{% if post_is_read %}
    this post was previously read | <a href="{% url 'm2mbench:view_post' board.id thread.id post.id %}?ipage={{ipage}}&amp;bpage={{bpage}}&amp;tpage={{tpage}}&amp;ppage={{ppage}}&amp;mark_unread=1&amp;{{prof}}">mark as unread</a>
{% else %}
    this post is unread | <a href="{% url 'm2mbench:view_post' board.id thread.id post.id %}?ipage={{ipage}}&amp;bpage={{bpage}}&amp;tpage={{tpage}}&amp;ppage={{ppage}}&amp;mark_read=1&amp;{{prof}}">mark as read</a>
{% endif %}
    | <a href="{% url 'm2mbench:view_post' board.id thread.id post.id %}?ipage={{ipage}}&amp;bpage={{bpage}}&amp;tpage={{tpage}}&amp;ppage={{ppage}}&amp;{{prof}}">refresh post</a>
{% if prof %}
    | <a href="{% url 'm2mbench:view_post' board.id thread.id post.id %}?ipage={{ipage}}&amp;bpage={{bpage}}&amp;tpage={{tpage}}&amp;ppage={{ppage}}">stop profiling</a>
{% else %}
    | <a href="{% url 'm2mbench:view_post' board.id thread.id post.id %}?ipage={{ipage}}&amp;bpage={{bpage}}&amp;tpage={{tpage}}&amp;ppage={{ppage}}&amp;prof">start profiling</a>
{% endif %}
</p>
<p>
{% if post_has_been_read %}
    {{user}} just marked this post as read
{% endif %}
{% if post_has_been_unread %}
    {{user}} just marked this post as unread
{% endif %}
</p>
<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="{% url 'm2mbench:view_post' board.id thread.id prev_post.id %}?ipage={{ipage}}&amp;bpage={{bpage}}&amp;tpage={{prev_post_tpage}}&amp;ppage={{posts.previous_page_number}}&amp;{{prof}}">previous</a>
        {% endif %}

        <span class="current">
            Post {{posts.number}} of {{posts.paginator.num_pages}}.
        </span>

        {% if posts.has_next %}
            <a href="{% url 'm2mbench:view_post' board.id thread.id next_post.id %}?ipage={{ipage}}&amp;bpage={{bpage}}&amp;tpage={{next_post_tpage}}&amp;ppage={{posts.next_page_number}}&amp;{{prof}}">next</a>
        {% endif %}
    </span>
</div>
{% if prof %}<h1>profile</h1>{% endif %}
